/* General */
body{
    background-color: #FAF3F3;
}


/*@media screen and (min-width: 1024px){
    p{
        font-size: 1.1em;
    }
    
}*/
    
section{
    margin-bottom: 8em;
}

section p{
    color: #4c292a;
}

section h2, footer h5, section h4, section h5, section h6, .service-details, #services h1, footer h2{
    color: #9B5456;
}


section h2, section h5, section h6, #services h1, #about h4{
    font-family: 'Poppins', sans-serif;
}



/* Hero */
#hero{
    background-color: #fdd0c9;
    color: #9B5456;
    height: 120vh;
}

.hero-img{
    height: inherit;
    object-fit: cover;
    opacity: 0.25;
}

.overlay-text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn, .btn:hover{
    background-color: #129681;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8em;
}


h1, #hero h5{
    font-family: 'Ibarra Real Nova', serif;
}

h1{
    font-weight: 600 !important;
}

.intro-txt{
    font-family: 'Lexend Zetta', sans-serif;
}



/* Navigation */
.navbar{
    background-color: rgb(255, 255, 255);
}

.nav-link{
    color: #0b7b68;
    font-size: 1em;
}

.nav-link:hover{
    color: #0b7b68;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1.2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}



/* Services */
.services-intro p{
    color: #4c292a !important;
}

#services{
    margin-top: 7em;
}

.services-intro{
    margin-bottom: 8em;
}

.service-item img, .product-item img{
    max-width: 80%;
    object-fit: cover;
    margin: 1em;  
    border-radius: 50%;
}

.card-img-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.service-item {
    position: relative;
}

.service-item, .product-item {
    padding: 1em;
}

#shopping .card, #testimonials .card, #services .card{
    background-color: #FAF3F3 ; 
}

/*#FFEBE5*/


@media (min-width: 375px) and (max-width:768px) {
    .service-item, .product-item {
        padding: 2em;
    }
}




/* Shopping */
.observation::before {
    content: "*";
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}



/* About */
.profile-img{
    object-fit: cover;
    border-radius: 50%;
}


@media (max-width: 475px) {
    .profile-img {
        max-width: 80%;
    }

    #about{
        text-align: center;
    }

}



/* Testimonials */
#testimonials{
    width: 100%;
    height: 105em;
    background-color: #fbc2c2;
}

.quotation{
    width: 70px;
    height: 70px;
}

.card-footer{
    background-color: inherit;
}

@media (min-width: 768px){
    #testimonials{
        height: 1000px;
    }
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* Contact */
footer{
    background-color: white;
}

footer .card{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #4c292a;
}

footer h5{
    font-family: 'DM Sans', sans-serif;
}

.card-body iframe{
    width: 100%;
    object-fit: cover;
    margin-top: 0.7em;
}

.fa-solid{
    margin-right: 0.3em;
}

.fa-brands{
    font-size: 2.5em;
}

a{
    text-decoration: none;
    color: inherit;
}

.footer-info{
    margin-top: 6em;
    margin-bottom: 0.1em;
}

#contact .row:first-child{
    margin-top: 3em;
}



/* 
@media (max-width: 767px) {
    .service-item img {
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .service-item img {
    }
}
*/

